@import "colors.scss";

html {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.625rem;
	font-weight: normal;
}

h2, h3 {
    font-size: 1.17rem;
}

p {
	margin-bottom: 1.25rem;
}

ul {
    list-style: none;
}