$blue: #baba71;
$white: #fff;

body {
    background: $blue;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $blue;
    color: $white;
}

#image {
    // background: url("shaping-sound.jpg");
    // height: 900px; 
    // width: 900px;
}