/*
rem sizes:
50px = 3.125rem
40px = 2.5rem
32px = 2rem
30px = 1.875rem
25px = 1.5625rem
24px = 1.5rem
20px = 1.25rem

18px = 1.125rem
<<<<<<< HEAD
=======
17px = 1.0625rem
>>>>>>> 82880da987f5e9ea7c87bbe54e7da387f4bced46
16px = 1rem
15px = .9375rem
14px = 0.875rem
13px = 0.8125rem
12px = 0.75rem
10px = 0.625rem
<<<<<<< HEAD
8px = 1.5rem
=======
9px = 0.5625rem
8px = 0.5rem
7px = 0.4375rem
6px = 0.375rem
>>>>>>> 82880da987f5e9ea7c87bbe54e7da387f4bced46
5px = 0.3125rem
4px = 0.25rem
3px = 0.1875rem
2px = 0.125rem
1px = 0.0625rem */

html {
    box-sizing: border-box;
    height: 100%;
    color: $deep-spiritual-color-one;
    font-family: $text-font;
    font-size: 16px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: $white;

    &[data-theme="dark"] {
        background-color: $deep-spiritual-color-two;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625rem;
    font-family: $heading-font;
}

h2, h3 {
    font-size: 1.125rem;
}

[data-theme="dark"] {
    h3 {
        margin: 20px 0 0;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .tease-list {
        margin-top: 0;
    }
}

[data-theme="eighty-percent"] {
    .container {
        width: 80%;
    }

    .grid {
        padding: 0;
    }
}

h4 {
    font-size: 1rem;
}

a {
    color: $deep-spiritual-color-two;
    text-decoration: none;
    @include transition($property: color);

    &:hover {
        color: $deep-spiritual-color-five;
    }
}

p {
    margin-bottom: 1.25rem;
    font-size: 0.9375rem;
    line-height: 1.5rem;
}

ul {
    list-style: none;
    font-size: 0.9375rem;
}

.container {
    width: 100%;
    margin: 0 auto;
}

[data-theme="index"] ul {
    margin-bottom: 20px;
    list-style: none;
}

[data-theme="index"] ul li {
    border: 1px solid #222;
    border-bottom: none;
}

[data-theme="index"] ul li:last-child {
    border-bottom: 1px solid #222;
}

[data-theme="index"] ul li a {
    display: block;
    padding: 0.625rem;
    background: rgba(200,200,200, .3);
    color: #222;
    text-decoration: none;
    transition: all .3s ease;
}

article {
    position: relative;
}

img {
	width: 100%;
}

.img-fluid {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.img-fluid .img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

figcaption {
    margin: 0.625rem auto;
    color: $deep-spiritual-color-four;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1rem;
}