.container {
    &.css-stuff {

        &.pulse {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -260px;

            .grid {
                padding: 0;
            }

            .circle {
                width: 20px;
                height: 20px;
                margin: 0 auto;
                border-radius: 50%;
                cursor: pointer;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                transition: all 0.2s;

                &:nth-child(1) {
                    @include animation-pulse01($color: #33ffbb, $delay: 0s);
                }

                &:nth-child(2) {
                    @include animation-pulse01($color: #33ffbb, $delay: 0.25s);
                }

                &:nth-child(3) {
                    @include animation-pulse01($color: #33ffff, $delay: 0.5s);
                }

                &:nth-child(4) {
                    @include animation-pulse01($color: #33ffff, $delay: 0.75s);
                }

                &:nth-child(5) {
                    @include animation-pulse01($color: #33bbff, $delay: 1s);
                }

                &:nth-child(6) {
                    @include animation-pulse01($color: #33bbff, $delay: 1.25s);
                }
            }
        }

        &.gradients {
            .gradient {
                display: block;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                background-image: radial-gradient($white, $deep-spiritual-color-five);
                border-radius: 50%;

                &.one {
                    background-image: radial-gradient(circle, $white, $deep-spiritual-color-five);
                }

                &.two {
                    background-image: radial-gradient(circle closest-side, $white, $deep-spiritual-color-five);
                }

                &.three {
                    background-image: radial-gradient(circle at top right, $white, $deep-spiritual-color-five);
                }

                &.four {
                    background: repeating-radial-gradient(circle closest-side, $deep-spiritual-color-five, $white 10%, $deep-spiritual-color-five 25%, $deep-spiritual-color-five 30%);
                }
            }
        }

        &.drop-shadows {
            .circle {
                display: block;
                width: 100px;
                height: 100px;
                margin: 30px auto;
                border-radius: 50%;
                cursor: pointer;
                background: #333;
                box-shadow:  0 0 4px 4px #333, 0 0 12px 12px #baba71, 0 0 18px 16px #fff;
            }
        }

        article:nth-child(1) {
            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        article:nth-child(2) {
            font-size: 16px;

            h3 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
                line-height: 1.5em;
            }
        }

        article:nth-child(3) {
            h3 {
                font-size: 2.26vw;
            }

            p {
                font-size: 1.13vw;
                line-height: 1.65vw;
            }
        }
    }
}


// @keyframes r3 {
// 	0% {
// 		box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 0px #393939, 0 0 0px 0px rgba(26, 255, 255, 0);
// 	}
// 	10% {
// 		box-shadow: 0 0 8px 6px #1affff, 0 0 12px 10px #393939, 0 0 12px 14px #1affff;
// 	}
// 	100% {
// 		box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 40px #393939, 0 0 0px 40px rgba(26, 255, 255, 0);
// 	}
// }

// @keyframes r5 {
// 	0% {
// 		box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 0px #393939, 0 0 0px 0px rgba(26, 140, 255, 0);
// 	}
// 	10% {
// 		box-shadow: 0 0 8px 6px #1a8cff, 0 0 12px 10px #393939, 0 0 12px 14px #1a8cff;
// 	}
// 	100% {
// 		box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px #393939, 0 0 0px 40px rgba(26, 140, 255, 0);
// 	}
// }