.tease-list {
    .tease__details {
        padding: 0 0 10px;
        font-size: 1.125rem;
        line-height: normal;
        letter-spacing: normal;
    }

    &.tile {
        .tease {
            @include tile();
        }
    }

    &.panel {
        .tease {
            @include panel();
        }
    }

    &.feature {
        .tease {
            @include featured-story();
        }
    }

    @media (min-width: $lg-breakpoint) {
        .tease {
            margin-top: 30px;
        }
    }
}