.tease-list {
    .tease {
        position: relative;

        .tease__details {
            padding: 0 0 10px;
            font-size: 1.125rem;
            line-height: normal;
            letter-spacing: normal;
        }
    }

    &.checkerboard {
        .tease {
            @include checker();

            .tease__details {
                @include tease-details-bottom();
            }
        }
    }

    &.tile {
        .tease {
            .tease__details {
                @include tease-details-bottom();
            }
        }
    }

    &.panel {
        .tease {
            @include panel();
        }
    }

    &.feature {
        .tease {
            @include featured-story();
        }
    }

    @media (min-width: $lg-breakpoint) {
        margin-top: 30px;
    }
}