.content-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    color: $white;

    h4 {
        margin-bottom: 0;
    }
}

.panel {
    @include panel();

    img {
        border: none;
    }

    figure {
        margin: 0 -20px 10px;
    }

    figcaption {
        padding: 0 20px;
    }
}

.tease-list {
    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font;
    }

    &.four-item-feature {
        .tease {
            padding: 0 20px 0;

            figure.tease__img {
                margin: 0;
            }

            @include featured-story();
        }

        @media (min-width: $lg-breakpoint) {
            .tease {
                padding-top: 28px;
            }
        }

    }
}