
.grid {
    display: grid;
    grid-gap: 2.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.grid > .grid {
    width: 100%;
    padding: 0;
}

[data-col="2"],
[data-col="3"],
[data-col="4"],
[data-col="5"],
[data-col="6"] {
    grid-template-columns: repeat(1, [col] 1fr);
}

// breakpoints

@media (min-width: $lg-breakpoint) {
    .grid {
        padding: 0 1.5625rem 1.5625rem;
    }

    .grid,
    .grid[data-col="1"] {
        @include grid-template-columns;
    }

    [data-col="2"] {
        @include grid-template-columns(2);
    }

    [data-col="3"],
    [data-col="1-2"],
    [data-col="2-1"] {
        @include grid-template-columns(3);
    }

    [data-col="4"],
    [data-col="1-3"],
    [data-col="3-1"],
    [data-col="2-1-1"],
    [data-col="1-2-1"],
    [data-col="1-1-2"] {
        @include grid-template-columns(4);
    }

    [data-col="5"],
    [data-col="1-4"],
    [data-col="4-1"],
    [data-col="2-1-1-1"],
    [data-col="1-2-1-1"],
    [data-col="1-1-2-1"],
    [data-col="1-1-1-2"] {
        @include grid-template-columns(5);
    }

    [data-col="6"],
    [data-col="3-1-1-1"],
    [data-col="1-3-1-1"],
    [data-col="1-1-3-1"],
    [data-col="1-1-1-3"] {
        @include grid-template-columns(6);
    }

    [data-col="4-1-1-1-1"],
    [data-col="1-1-1-1-4"] {
        grid-template-columns: repeat(8, [col] 1fr);
    }

    /* twos */
    [data-col="2-1"] > article:nth-child(1) {
        grid-column: span 2;
    }

    [data-col="1-2"] > article:nth-child(2) {
        grid-column: span 2;
    }

    [data-col="3-1"] > article:nth-child(1) {
        grid-column: span 3;
    }

    [data-col="1-3"] > article:nth-child(2) {
        grid-column: span 3;
    }

    [data-col="4-1"] > article:nth-child(1) {
        // @include grids-columns(3fr 1fr);
        grid-column: span 4;
    }

    [data-col="1-4"] > article:nth-child(2) {
        // @include grids-columns(1fr 3fr);
        grid-column: span 4;
    }

    /* threes */
    [data-col="2-1-1"] > article:nth-child(1) {
        grid-column: span 2;
    }

    [data-col="1-2-1"] > article:nth-child(2) {
        grid-column: span 2;
    }

    [data-col="1-1-2"] > article:nth-child(3) {
        grid-column: span 2;
    }

    /* fours */
    [data-col="2-1-1-1"] > article:nth-child(1) {
        grid-column: span 2;
    }

    [data-col="1-2-1-1"] > article:nth-child(2) {
        grid-column: span 2;
    }

    [data-col="1-1-2-1"] > article:nth-child(3) {
        grid-column: span 2;
    }

    [data-col="1-1-1-2"] > article:nth-child(4) {
        grid-column: span 2;
    }

    [data-col="3-1-1-1"] > article:nth-child(1) {
        grid-column: span 3;
    }

    [data-col="1-3-1-1"] > article:nth-child(2) {
        grid-column: span 3;
    }

    [data-col="1-1-3-1"] > article:nth-child(3) {
        grid-column: span 3;
    }

    [data-col="1-1-1-3"] > article:nth-child(4) {
        grid-column: span 3;
    }

    /* fives */
    [data-col="4-1-1-1-1"] > article:nth-child(1) {
        grid-column: span 4;
    }

    [data-col="1-1-1-1-4"] > article:nth-child(5) {
        grid-column: span 4;
    }
}