img {
	width: 100%;
}

/* image holder */
figure {
    margin: 0 -0.625rem 0.625rem;
}

figure .filler {
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 100%;
    padding-bottom: 56%;
    overflow: hidden;
    background: $deep-spiritual-color-one;
}

figure .filler > img {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    text-align: center;
}

figcaption {
    margin: 0.3125rem auto 0;
    padding: 0 0.625rem;
    color: $deep-spiritual-color-four;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1rem;
}