@mixin border($width: 1px, $style: solid, $radius: 0) {
    border-width: $width;
    border-color: $deep-spiritual-color-four;
    border-style: $style;
    border-radius: $radius;
}

@mixin grid-template-columns($numColumns: 1, $fraction: 1fr) {
    grid-template-columns: repeat($numColumns, [col] $fraction);
}

@mixin grids-columns($fractions...) {
    grid-template-columns: @for $fraction in $fractions { $fraction }
}