@mixin border($width: 1px, $style: solid, $radius: 0) {
    border-width: $width;
    border-color: $deep-spiritual-color-four;
    border-style: $style;
    border-radius: $radius;
}

@mixin grid-template-columns($numColumns: 1, $fraction: 1fr) {
    grid-template-columns: repeat($numColumns, [col] $fraction);
}

@mixin grids-columns($fractions...) {
    @each $fraction in $fractions {
      grid-template-columns: #{$fraction};
    }
}

@mixin transition($property: all, $time: .25s) {
    transition: $property $time ease;
}

@mixin box-shadow($blur: 26px, $opacity: .25) {
    box-shadow: 0 2px $blur 4px rgba(0, 0, 0, $opacity);
}

@mixin tease-details-bottom() {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    color: $white;

    h4 {
        margin-bottom: 0;
    }
}

@mixin checker() {
    &[data-image-layout="square"]:after {
        content: "";
        float: left;
        display: block;
        padding-top: 100%;
    }

    .box {
        position: absolute;
        width: auto;
        height: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: #222;
        transition: all .3s ease;

        &:after {
            content: "";
            float: left;
            display: block;
            padding-top: 100%;
        }

        figure {
            height: 100%;

            &.img-fluid {
                position: static;
            }

            img {
                object-fit: cover;
                display: block;
                position: absolute;
                top: 25%;
                left: 50%;
                width: 102%;
                height: 102%;
                max-width: 102%;
                max-height: 102%;
                text-align: center;
                cursor: pointer;
                transform: translate(-50%, -25%);
                transition: all .6s ease;
            }
        }
    }
}

@mixin panel() {
    padding: 20px 20px 10px;
    background: $white;
    border: 1px solid $deep-spiritual-color-three;
    color: $text-color;
    @include box-shadow();

    .tease__img {
        margin: 0 -20px 10px;
    }

    .tease__text {
        position: relative;
    }

    ul {
        margin-top: 20px;

        li:after {
            width: 100%;
            background-color: $deep-spiritual-color-four;
            content: "";
            display: block;
            height: 1px;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        li:last-child:after {
            margin-bottom: 0;
            background-color: transparent;
        }
    }

    @media (min-width: $lg-breakpoint) {
        -webkit-border-radius: $image-border-radius;
        border-radius: $image-border-radius;
    }
}

@mixin featured-story() {
    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font-serif;
    }

    .tease__img {
        position: relative;
        width: 100%;
        overflow: visible;

        img {
            border-radius: 0;
            border: 1px solid $deep-spiritual-color-three;
            @include box-shadow($opacity: .1);
        }

        &::before {
            content: "";
            width: 1px;
            margin-left: -1px;
            float: left;
            height: 0;
            padding-top: 56.25%;
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .tease__content {
        position: relative;
        width: 90.64%;
        margin: -6% auto 0;
        padding: 20px 30px;
        background: #fff;
        border: 1px solid $deep-spiritual-color-three;
        border-radius: $image-border-radius;
        box-sizing: border-box;
        @include box-shadow();

        .tease__details {
            text-align: center;
        }

        .tease__heading {
            margin: 0 auto;
            color: #000;
            font-size: 1.875rem;
            font-weight: 400;
            text-align: center;

            a {
                color: #000;
            }
        }
    }

    @media (min-width: $lg-breakpoint) {
        figure.tease__img {
            img {
                border-radius: $image-border-radius;
            }
        }

        .tease__content {
            margin-bottom: 30px;
        }
    }
}

// animations
// @mixin grid-template-columns($numColumns: 1, $fraction: 1fr) {
@mixin animation-pulse01($color: #f00, $bg-color: #393939, $animation: r1, $duration: 2s, $delay: 0s, $timing: ease-out, $count: infinite) {
    /* name duration delay timing-function iteration-count */
    /* these are also available - direction | fill-mode | play-state */
    background: $color;
    animation: $animation $duration $delay $timing $count;

    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    @keyframes r1 {
        0% {
            box-shadow: 0 0 8px 6px $color, 0 0 0px 0px $bg-color, 0 0 0px 0px $color;
        }
        10% {
            box-shadow: 0 0 8px 6px $color, 0 0 12px 10px $bg-color, 0 0 12px 14px $color;
        }
        100% {
            box-shadow: 0 0 8px 6px rgba($red, $green, $blue, 0), 0 0 0px 40px $bg-color, 0 0 0px 40px rgba($red, $green, $blue, 0);
        }
    }
}