// colors
$link-color: #2e81b7;
$white: #fff;

$deep-spiritual-color-one: #21201f;
$deep-spiritual-color-two: #383838;
$deep-spiritual-color-three: #5f605d;
$deep-spiritual-color-four: #b8b8b8;
$deep-spiritual-color-five: #ef6817;

$image-border-radius: 6px;

// breakpoints
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1288px;