/*
rem sizes:
40px = 2.5rem
30px = 1.875rem
25px = 1.5625rem
24px = 1.5rem
20px = 1.25rem
19px =
18px = 1.125rem
17px = 1.0625rem
16px = 1rem
15px = .9375rem
14px = 0.875rem
13px = 0.8125rem
12px = 0.75rem
11px = 0.6875rem
10px = 0.625rem
9px = 0.5625rem
8px = 0.5rem
7px = 0.4375rem
6px = 0.375rem
5px = 0.3125rem
4px = 0.25rem
3px = 0.1875rem
2px = 0.125rem
1px = 0.0625rem */

// colors
$text-color: #444;
$link-color: #2e81b7;
$white: #fff;

$deep-spiritual-color-one: #21201f;
$deep-spiritual-color-two: #383838;
$deep-spiritual-color-three: #5f605d;
$deep-spiritual-color-four: #b8b8b8;
$deep-spiritual-color-five: #ef6817;

$image-border-radius: 6px;
$tease-box-shadow: 0 2px 26px 4px rgba(0,0,0,0.25);

// breakpoints
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1288px;

// fonts
$heading-font-serif: 'Average', 'Georgia', serif;
$heading-font: 'Roboto', sans-serif;
$text-font: 'Roboto', sans-serif;